<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
    <!-- This line blocks cross site scripting --> 
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'; worker-src 'self';">

    <title>Chatbot Demo</title> 

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}"> 
</head> 

<div class="container"> 
    <p style="color: rgb(255, 255, 255);">Welcome!</p> 
</div> 

<div class="wrapper">
    <div class="app-container">
        <!-- These are the colorful abstract shapes hiding behind your glass -->
        <div class="glow-blob purple-one"></div>
        <div class="glow-blob purple-two"></div>
        <div class="wave-line line-one"></div>

    <!--Sidebar-->
    <aside class="glass_sidebar">
        <h2 style="color:white"> Chatbot Demo </h2>
        <nav>
            <a href="#home" > Home </a>
        </nav>
    </aside>

    <!-- Main Content -->
    <main class="main content">
        <h1 style="color:white"> Ask Anything </h1>
        <input type="text" placeholder="Enter your text here">
    </main>
</div>